POSTGRES_NAME={{ db_name }}
POSTGRES_USER={{ db_user }}
POSTGRES_PASS={{ db_password }}
POSTGRES_HOST={{ db_host }}
POSTGRES_PORT={{ db_port }}

EXTERNAL_API_URL={{ url of the applifting API including /api/v1 }}
REFRESH_TOKEN={{ refresh token for the applifting API }}